[submodule "themes/visual-studio-code"]
	path = themes/visual-studio-code
	url = git@github.com:Minimal-Mistakes/visual-studio-code.git
[submodule "themes/kitty"]
	path = themes/kitty
	url = git@github.com:Minimal-Mistakes/kitty.git
