[submodule "themes/alacritty"]
	path = themes/alacritty
	url = git@github.com:Minimal-Mistakes/alacritty.git
[submodule "themes/atom"]
	path = themes/atom
	url = git@github.com:Minimal-Mistakes/atom.git
[submodule "themes/dunst"]
	path = themes/dunst
	url = git@github.com:Minimal-Mistakes/dunst.git
[submodule "themes/emacs"]
	path = themes/emacs
	url = git@github.com:Minimal-Mistakes/emacs.git
[submodule "themes/kitty"]
	path = themes/kitty
	url = git@github.com:Minimal-Mistakes/kitty.git
[submodule "themes/gtk"]
	path = themes/gtk
	url = git@github.com:Minimal-Mistakes/gtk.git
[submodule "themes/icons"]
	path = themes/icons
	url = git@github.com:Minimal-Mistakes/icons.git
[submodule "themes/netbeans"]
	path = themes/netbeans
	url = git@github.com:Minimal-Mistakes/netbeans.git
[submodule "themes/nvim"]
	path = themes/nvim
	url = git@github.com:Minimal-Mistakes/nvim.git
[submodule "themes/qt"]
	path = themes/qt
	url = git@github.com:Minimal-Mistakes/qt.git
[submodule "themes/visual-studio-code"]
	path = themes/visual-studio-code
	url = git@github.com:Minimal-Mistakes/visual-studio-code.git
[submodule "themes/vim"]
	path = themes/vim
	url = git@github.com:Minimal-Mistakes/vim.git
